@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans";
  font-size: 13px;
  color: #1f2021;
  max-width: 100%;
}

section {
  margin-top: 80px;
}

.section-title h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.6;
}

.section-title .divider {
  margin: 20px auto;
  width: 100px;
  position: relative;
}

.section-title .dividermask:after {
  content: '';
  display: block;
  border-top: 1px solid #1f2021;
}

.section-title .divider span {
  width: 12px;
  height: 12px;
  position: absolute;
  margin-top: -6px;
  margin-left: -4px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #1f2021;
}

.section-title p {
  color: #b4b4b4;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}

header {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/image-1.png);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/image-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbar {
  background: none;
  border-bottom: 4px solid rgba(0, 196, 250, 0.5);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .navbar .navigation-bar {
  max-width: 1000px;
  margin: 0 auto;
}

header .navbar .navigation-bar .navbar-header .navbar-brand {
  background: url(../img/logo.png) center/contain no-repeat;
  width: 100px;
  height: 50px;
  margin: 7px 0px;
}

header .navbar #navbar .navbar-nav li a.active {
  color: #00c7fc;
  background: none;
}

header .navbar #navbar .navbar-nav li {
  padding: 25px 15px;
}

header .navbar #navbar .navbar-nav li a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px;
}

header .navbar #navbar .navbar-nav li a:hover {
  border-bottom: 2px solid #00c7fc;
  padding-bottom: 0px;
  background: none;
}

header .container-fluid {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

header .container-fluid .title-container {
  background-color: rgba(0, 196, 250, 0.5);
  height: 100%;
}

header .container-fluid .title-container .title-text {
  padding: 35px;
  max-width: 70%;
  float: right;
}

header .container-fluid .title-container .title-text h1 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6;
}

header .container-fluid .title-container .title-text h1 span {
  text-transform: none;
}

header .container-fluid .title-container .title-text p {
  padding: 25px 0px;
  line-height: 2;
  font-weight: 300;
}

#services .services-grid .service-box {
  margin: 15px;
  padding: 25px;
  cursor: pointer;
}

#services .services-grid .service-box:hover .service-icon img {
  border: 2px solid #00c7fc;
  border-radius: 100%;
  padding: 20px;
  margin: -22px;
}

#services .services-grid .service-icon {
  display: inline-block;
  padding: 10px 25px;
}

#services .services-grid .service-text {
  line-height: 1.6;
}

#services .services-grid .service-text h1 {
  font-size: 20px;
  color: #00c7fc;
  font-weight: 400;
  padding-bottom: 25px;
}

#services .services-grid .service-text p {
  color: #b4b4b4;
}

#bg-text .container-fluid {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.45))), url(../img/image-2.png);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.45)), url(../img/image-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-text .container-fluid .col-md-12 {
  margin: 100px 0px;
  padding: 50px;
}

#bg-text .container-fluid .col-md-12 .bg-text {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 25px;
  background-color: rgba(0, 196, 250, 0.5);
  color: #fff;
}

#bg-text .container-fluid .col-md-12 .bg-text h1 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.6;
}

#bg-text .container-fluid .col-md-12 .bg-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */