@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans";
  font-size: 13px;
  color: #1f2021;
  max-width: 100%;
}

section {
  margin-top: 80px;
}

.section-title h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.6;
}

.section-title .divider {
  margin: 20px auto;
  width: 100px;
  position: relative;
}

.section-title .dividermask:after {
  content: '';
  display: block;
  border-top: 1px solid #1f2021;
}

.section-title .divider span {
  width: 12px;
  height: 12px;
  position: absolute;
  margin-top: -6px;
  margin-left: -4px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #1f2021;
}

.section-title p {
  color: #b4b4b4;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}

header {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/image-1.png);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/image-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbar {
  background: none;
  border-bottom: 4px solid rgba(0, 196, 250, 0.5);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .navbar .navigation-bar .navbar-header .navbar-brand {
  background: url(../img/logo.png) center/contain no-repeat;
  width: 45px;
  height: 45px;
  margin: 7px 0px;
}

header .navbar #navbar .navbar-nav li a.active {
  color: #00c7fc;
  background: none;
}

header .navbar #navbar .navbar-nav li {
  padding: 15px;
}

header .navbar #navbar .navbar-nav li a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px;
}

header .navbar #navbar .navbar-nav li a:hover {
  border-bottom: 2px solid #00c7fc;
  padding-bottom: 0px;
  background: none;
}

header .navbar-fixed-top {
  background: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .navbar-fixed-top .navigation-bar .navbar-header .navbar-brand {
  background: url(../img/logo-black.png) center/contain no-repeat;
}

header .navbar-fixed-top #navbar .navbar-nav .active a {
  color: #00c7fc;
}

header .navbar-fixed-top #navbar .navbar-nav li a {
  color: #1f2021;
  font-weight: 600;
}

header .container-fluid {
  position: absolute;
  width: 100%;
  top: 60%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

header .container-fluid .title-container {
  background-color: rgba(0, 196, 250, 0.5);
  height: 100%;
}

header .container-fluid .title-container .title-text {
  margin-left: 25px;
  padding: 35px;
}

header .container-fluid .title-container .title-text h1 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6;
}

header .container-fluid .title-container .title-text h1 span {
  text-transform: none;
}

header .container-fluid .title-container .title-text p {
  padding: 25px 0px;
  line-height: 2;
  font-weight: 300;
}

#services .services-grid .service-box {
  margin: 15px;
  padding: 25px;
  cursor: pointer;
}

#services .services-grid .service-box:hover .service-icon span {
  border: 2px solid #00c7fc;
  border-radius: 100%;
  padding: 20px;
  margin: -22px;
  position: absolute;
  top: 0%;
}

#services .services-grid .service-text {
  line-height: 1.6;
}

#services .services-grid .service-text h1 {
  font-size: 20px;
  color: #00c7fc;
  font-weight: 400;
  padding-bottom: 25px;
}

#services .services-grid .service-text p {
  color: #b4b4b4;
}

#bg-text .container-fluid {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.45))), url(../img/image-2.png);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.45)), url(../img/image-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-text .container-fluid .col-md-12 {
  margin: 100px 0px;
}

#bg-text .container-fluid .col-md-12 .bg-text {
  margin: 0px auto;
  padding: 100px 25px;
  background-color: rgba(0, 196, 250, 0.5);
  color: #fff;
}

#bg-text .container-fluid .col-md-12 .bg-text h1 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.6;
}

#bg-text .container-fluid .col-md-12 .bg-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

#contact .row {
  padding: 0px 00px;
}

#contact .contacts {
  padding: 25px;
}

#contact .contacts .form-area {
  padding: 50px 0px;
}

#contact .contacts .form-area form .form-group input,
#contact .contacts .form-area form .form-group textarea {
  border: 1px solid #dbdbdb;
  border-radius: 0px;
  padding: 25px;
}

#contact .contacts .form-area form .btn {
  background-color: #00c7fc;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 15px 50px;
  margin-top: 25px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#contact .contacts .form-area form .btn:hover {
  background-color: #fff;
  color: #00c7fc;
  -webkit-box-shadow: 0px 0px 0px 1px #dbdbdb;
          box-shadow: 0px 0px 0px 1px #dbdbdb;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#contact .contacts-info {
  padding: 25px 0px;
}

#contact .contacts-info .contact-details, #contact .contacts-info .contact-location {
  padding-top: 25px;
}

#contact .contacts-info .contact-details h1, #contact .contacts-info .contact-location h1 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 5;
}

#contact .contacts-info .contact-details a, #contact .contacts-info .contact-location a {
  color: #b4b4b4;
  line-height: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

#contact .contacts-info .contact-details a:hover, #contact .contacts-info .contact-details a:focus, #contact .contacts-info .contact-location a:hover, #contact .contacts-info .contact-location a:focus {
  text-decoration: none;
  color: #00c7fc;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

#contact ::-webkit-input-placeholder {
  color: #1f2021 !important;
  font-weight: 600;
  text-transform: uppercase;
}

#contact :-ms-input-placeholder {
  color: #1f2021 !important;
  font-weight: 600;
  text-transform: uppercase;
}

#contact ::-ms-input-placeholder {
  color: #1f2021 !important;
  font-weight: 600;
  text-transform: uppercase;
}

#contact ::placeholder {
  color: #1f2021 !important;
  font-weight: 600;
  text-transform: uppercase;
}

footer {
  margin-top: 80px;
  background-color: #121116;
  padding: 50px 0px 25px 0px;
}

footer .footer-logo {
  padding: 25px;
}

footer .footer-logo img {
  margin: 0 auto;
  display: block;
}

footer .socials {
  color: #fff;
}

footer .socials h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 300;
}

footer .socials hr {
  width: 250px;
}

footer .socials p i {
  padding: 0px 15px;
  cursor: pointer;
}

footer .socials p i:hover {
  color: #00c7fc;
}

footer .footer-credits {
  font-size: 15px;
  color: #fff;
  padding-top: 50px;
}

footer .footer-credits span {
  color: #00c7fc;
}

.close-modal {
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.close-modal .close-modal img {
  width: 25px;
  height: 25px;
}

.modal-content {
  margin: 20% auto;
  border-radius: 0px;
  text-transform: uppercase;
  padding: 25px 10px;
  max-width: 500px;
}

.modal-content h1 {
  font-size: 24px;
}

.modal-content form {
  padding: 25px 0px 15px 0px;
}

.modal-content form label {
  font-weight: 600;
  letter-spacing: 1.2;
  padding: 5px 0px;
}

.modal-content form input,
.modal-content form textarea {
  border: 1px solid #dbdbdb;
  border-radius: 0px;
  padding: 25px;
}

.modal-content form .checkbox {
  text-transform: initial;
  text-align: center;
}

.modal-content form #checkbox-1 {
  position: absolute;
  opacity: 0;
}

.modal-content form #checkbox-1 + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.modal-content form #checkbox-1 + label:before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #dbdbdb;
}

.modal-content form #checkbox-1:hover + label:before {
  background: #00c7fc;
}

.modal-content form #checkbox-1:focus + label:before {
  -webkit-box-shadow: 0 0 0 1px #1f2021;
          box-shadow: 0 0 0 1px #1f2021;
}

.modal-content form #checkbox-1:checked + label:before {
  background: #00c7fc;
}

.modal-content form #checkbox-1:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: #1f2021;
  width: 3px;
  height: 3px;
  -webkit-box-shadow: 2px 0 0 #1f2021, 4px 0 0 #1f2021, 4px -2px 0 #1f2021, 4px -4px 0 #1f2021, 4px -6px 0 #1f2021, 4px -8px 0 #1f2021;
          box-shadow: 2px 0 0 #1f2021, 4px 0 0 #1f2021, 4px -2px 0 #1f2021, 4px -4px 0 #1f2021, 4px -6px 0 #1f2021, 4px -8px 0 #1f2021;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content form .btn {
  background-color: #00c7fc;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 15px 50px;
  margin-top: 25px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0 auto;
  display: block;
}

.modal-content form .btn:hover {
  background-color: #fff;
  color: #00c7fc;
  -webkit-box-shadow: 0px 0px 0px 1px #dbdbdb;
          box-shadow: 0px 0px 0px 1px #dbdbdb;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.modal-content ::-webkit-input-placeholder {
  color: #b4b4b4;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-content :-ms-input-placeholder {
  color: #b4b4b4;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-content ::-ms-input-placeholder {
  color: #b4b4b4;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-content ::placeholder {
  color: #b4b4b4;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  header .container-fluid {
    position: relative;
    top: 50%;
  }
  header .container-fluid .title-container .title-text {
    padding: 5px;
    max-width: 100%;
  }
  header .container-fluid .title-container .title-text h1 {
    font-size: 24px;
    line-height: 1.6;
  }
  header .container-fluid .title-container .title-text p {
    font-weight: 300;
    letter-spacing: 1px;
  }
  #services .services-grid .service-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #services .services-grid .service-text {
    text-align: center;
  }
  #bg-text .container-fluid .col-md-12 {
    margin: 25px 0px;
    padding: 25px;
  }
  #bg-text .container-fluid .col-md-12 .bg-text {
    padding: 100px 5px;
  }
  #bg-text .container-fluid .col-md-12 .bg-text h1 {
    font-size: 20px;
    line-height: 1.2;
  }
  #contact .row {
    padding: 0px;
  }
  #contact .contacts {
    padding: 25px;
  }
  #contact .contacts .form-area form {
    text-align: center;
  }
  #contact .contacts .form-area form .btn {
    float: none !important;
  }
  #contact .contacts-info {
    padding: 0px;
    text-align: center;
  }
  #contact .contacts-info .contact-details, #contact .contacts-info .contact-location {
    padding-top: 0px;
  }
  #contact .contacts-info .contact-details h1, #contact .contacts-info .contact-location h1 {
    font-size: 24px;
    line-height: 3.5;
  }
  #contact .contacts-info .contact-details p, #contact .contacts-info .contact-location p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {
  header .navbar {
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
  }
  header .navbar .navigation-bar .navbar-header .navbar-toggle {
    background: #00c7fc !important;
    padding: 10px 15px;
    border: none;
  }
  header .navbar .navigation-bar .navbar-header .navbar-toggle .icon-bar {
    height: 5px;
  }
  header .navbar #navbar {
    max-height: 100%;
    background-color: #fff;
  }
  header .navbar #navbar .navbar-nav {
    text-align: center;
  }
  header .navbar #navbar .navbar-nav li {
    padding: 25px 15px;
  }
  header .navbar #navbar .navbar-nav li a {
    color: #1f2021;
    font-weight: 600;
  }
  header .navbar #navbar .navbar-nav li a:hover {
    background-color: #00c7fc;
    color: #fff;
  }
  header .container-fluid .title-container {
    height: 100%;
  }
  header .container-fluid .title-container .title-text {
    padding: 5px;
    max-width: 100%;
    float: none;
  }
  header .container-fluid .title-container .title-text h1 {
    font-size: 24px;
    line-height: 1.6;
  }
  header .container-fluid .title-container .title-text p {
    font-weight: 300;
    letter-spacing: 1px;
  }
  #services .services-grid .service-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #services .services-grid .service-text {
    text-align: center;
  }
  #bg-text .container-fluid .col-md-12 {
    margin: 25px 0px;
    padding: 25px;
  }
  #bg-text .container-fluid .col-md-12 .bg-text {
    padding: 100px 5px;
  }
  #bg-text .container-fluid .col-md-12 .bg-text h1 {
    font-size: 20px;
    line-height: 1.2;
  }
  #contact .row {
    padding: 0px;
  }
  #contact .contacts {
    padding: 25px;
  }
  #contact .contacts .form-area form {
    text-align: center;
  }
  #contact .contacts .form-area form .btn {
    float: none !important;
  }
  #contact .contacts-info {
    padding: 0px;
    text-align: center;
  }
  #contact .contacts-info .contact-details, #contact .contacts-info .contact-location {
    padding-top: 0px;
  }
  #contact .contacts-info .contact-details h1, #contact .contacts-info .contact-location h1 {
    font-size: 24px;
    line-height: 3.5;
  }
  #contact .contacts-info .contact-details p, #contact .contacts-info .contact-location p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */